@font-face {
    font-family: noe;
    src: url(../fonts/noe.woff);
}
@font-face {
    font-family: normal;
    src: url(../fonts/normal);
}
:root {
    --im: url(../images/_dsf8951.webp);
    --font: normal;
    --bold: noe;
}

.loading {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #f5f7f9;
    /* justify-content: center;
    align-items: center; */
    z-index: 100;
    font-weight: 800;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}
.topstrip {
    position: relative;
    background: #202020;
    color: rgb(233, 233, 233);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px 4px 4px;
}
.topstrip > span {
    color: tomato;
}
.topstrip > a:nth-child(1) {
    color: tomato;
    /* font-weight: 600; */
}
.topstrip > .instagram {
    position: absolute;
    right: 10px;
    color: white;
    width: 100px;
}
.wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
}
.header {
    position: relative;
    width: 100%;
    height: 90px;
    background: white;
    display: flex;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.header > .admin {
    margin: auto 20px auto auto;
}
.header > .admin > button {
    color: white;
    background-color: tomato;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
}
.header > .admin > button:active {
    color: tomato;
    background-color: white;
}
.strip {
    height: 4px;
    background-color: #df241f;
}
.logo {
    position: absolute;
    width: 300px;
    height: 80px;
    top: calc(50% - 40px);
    left: 20px;
    display: flex;
}
.logo img {
    position: relative;
    height: 100%;
}
.body {
    position: relative;
    height: 550px;
    width: 100%;
    transition: all 2000ms;
    background-image: var(--im);
    /* background-image: url(../images/_dsf8951.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* animation: bg_change 10000ms infinite forwards; */
}
@keyframes bg_change {
    12.5% {
        background-image: url(../images/_dsf8951.webp);
    }
    37.5% {
        background-image: url(../images/_dsf8963.webp);
    }
    62.5% {
        background-image: url(../images/_dsf8982.webp);
    }
    87.5% {
        background-image: url(../images/_dsf8724a.webp);
    }
}
.fonts {
    width: 600px;
    position: absolute;
    height: 200px;
    top: calc(50% - 100px);
    display: flex;
    align-items: center;
    color: white;
    padding-left: 100px;
    /* background-color: white; */
}
.fonts span {
    font-family: var(--bold);
    font-size: 50px;
    font-weight: bold;
    /* -webkit-text-stroke: 0.1px rgb(55, 55, 55); */
    /* word-spacing: 12px; */
    letter-spacing: 3px;
    text-shadow: 1px 1px 4px rgb(33, 33, 33);
}
.birth {
    font-family: var(--font);
    font-weight: bold;
}
.wrap_body {
    position: absolute;
    height: 490px;
    /* height: 300px; */
    width: 400px;
    right: 100px;
    top: calc(50% - 245px);
    /* top: calc(50% - 150px); */
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 400ms;
    /* padding-left: 50px;
    padding-right: 50px; */
    justify-content: center;
    /* border: solid;
    border-width: 5px;
    border-color: #df241f; */
}
.inp {
    /* margin-top: 10px; */
    height: 35px;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    color: black;
    font-weight: bold;
    font-family: var(--font);
    margin: 10px 50px 0px 50px;
    text-transform: uppercase;
}
.submit {
    margin: 10px 50px 0px 50px;
    /* margin-top: 10px; */
    height: 35px;
    color: white;
    background: tomato;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.problem {
    margin: 10px 50px 0px 50px;
    /* margin-top: 10px; */
    height: 35px;
    color: rgb(47, 201, 240);
    background: transparent;
    border: none;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}
.drop_photo {
    cursor: pointer;
}
.drop_signature {
    cursor: pointer;
}
select {
    cursor: pointer;
}
.submit:active {
    background-color: rgba(0, 0, 0, 0.1);
    color: tomato;
}

/* footer  */
.footer {
    position: relative;
    width: 100%;
    left: 0px;
    height: 200px;
    background-color: #202020;
    font-family: var(--font);
}
.bottom_footer {
    position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    color: white;
}
.top_footer_wrap {
    display: flex;
    padding: 20px;
}
.section {
    color: white;
    margin-right: 20px;
    max-width: 200px;
}
body > div.body > div > div.footer > div.top_footer > div > div > li {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
}
body > div.body > div > div.footer > div.top_footer > div > div > li:hover {
    background-color: tomato;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
body > div.body > div > div.footer > div.top_footer > div > div > li > a {
    color: white;
    text-decoration: none;
}
body > div > div.body > div.wrap_body > div > input[type="file"] {
    display: none;
}

body > div > div.body > div.wrap_body > div > .choose {
    outline: none;
    cursor: pointer;
    color: rgb(29, 176, 212);
    font-weight: 800;
}
body > div > div.body > div.wrap_body > div {
    margin: 10px 50px 10px 50px;
    border: dotted 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    font-family: var(--font);
}
.dragHover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 200ms;
}
.download {
    position: fixed;
    top: 0px;
    left: 0px;
    transition: all 300ms;
    display: none;
    width: 100%;
    height: 100%;
    /* overflow-y: scroll; */
    background-color: white;
    z-index: 10;
}
.download > .header {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    height: 50px;
}
.download > .header > .downbtn {
    position: absolute;
    right: 20px;
    height: 35px;
    width: 100px;
    font-weight: 800;
    top: calc(50% - 17.5px);
    color: white;
    background: tomato;
    border: none;
    outline: none;
    border-radius: 4px;
}
.download > .header > .downbtn:active {
    color: tomato;
    background-color: white;
}
.download > .admit_card_image {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.download > .admit_card_image > canvas {
    height: 100%;
    width: auto;
}

.login_wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}
.login_wrap > .close {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.login_wrap > .wrap > .close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.login_wrap > .wrap {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: white;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    border-radius: 21px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_wrap > .wrap > input {
    height: 30px;
    width: 70%;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    padding: 5px 5px 5px 20px;
    font-family: var(--font);
    font-size: 17px;
    font-weight: 500;
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 300ms;
}
.login_wrap > .wrap > input:focus {
    background-color: rgba(0, 0, 0, 0.3);
}
.login_wrap > .wrap > button {
    height: 40px;
    width: calc(70% + 25px);
    outline: none;
    border: none;
    color: white;
    background-color: tomato;
    border-radius: 4px;
}
.login_wrap > .wrap > button:active {
    color: tomato;
    background-color: white;
}
/* @media (max-width: 621px) {
    body > div > div.body > div.wrap_body {
        right: 0px;
        width: 100%;
    }
} */
